<!DOCTYPE html>

<html>

<head>
    <title>浅塘计算器</title>
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./styles/pond.css" />
    <link rel="stylesheet" href="./styles/loading.css" />
</head>

<body id="body">
    <div class="container">
        <div class="square red"></div>
        <div class="square yellow"></div>
        <div class="square blue"></div>
    </div>
    <div class="app" id="app">
        <div class="table_container">
            <table @mouseleave="table_on_mouse_leave">
                <tbody>
                    <tr v-for="line in pond">
                        <td class="cell_td" v-for="cell in line">
                            <div 
                                class="cell_div hoverable" 
                                @dblclick="cell_on_dblclick(cell)"
                                @mousedown="cell_on_mouse_down(cell)" 
                                @mouseenter="cell_on_mouse_enter(cell)"
                                @mouseleave="cell_on_mouse_leave(cell)" 
                                @mouseup="cell_on_mouse_up(cell)">
                                <div class="bar_div" v-bind:style="bar_div_style(cell)"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button_group">
            <button 
                class="hoverable" 
                @click="calculate_pond">
                <span class="material-icons">rocket_launch</span>
            </button>
            <p class="step_prompt">{{step_prompt}}</p>
            <button 
                class="hoverable" 
                @mousedown="step_on_mouse_down(previous_step)"
                @mouseup="step_on_mouse_up(previous_step)" 
                @mouseleave="fast_stop">
                <span class="material-icons">keyboard_double_arrow_left</span>
            </button>
            <button 
                class="hoverable" 
                @mousedown="step_on_mouse_down(next_step)" 
                @mouseup="step_on_mouse_up(next_step)"
                @mouseleave="fast_stop">
                <span class="material-icons">keyboard_double_arrow_right</span>
            </button>
            <button class="hoverable" @click="clear_pond">
                <span class="material-icons">delete</span>
            </button>
            <button class="hoverable" @click="show_illustration(true)">
                <span class="material-icons">question_mark</span>
            </button>
        </div>
        <div class="illustration" v-bind:style="{visibility: this.illustration_visibility}">
            <pre>
        <b>浅塘计算器使用说明</b>

            “浅塘”是一款TTZGame开发的益智游戏。
            本程序是用于计算浅塘关卡答案的计算器。

        一、功能
            1. 在方格中按住并拖动以添加滑块。
            2. 按住以拖动滑块。
            3. 双击以删除滑块。
            4. 点击<span class="material-icons">rocket_launch</span>按钮以计算最短路径。
            5. 计算完成后，点击<span class="material-icons">keyboard_double_arrow_left</span>或<span class="material-icons">keyboard_double_arrow_right</span>按钮以移动答案步骤。
            6. 长按<span class="material-icons">keyboard_double_arrow_left</span>或<span class="material-icons">keyboard_double_arrow_right</span>按钮以快或快退。
            7. 点击<span class="material-icons">delete</span>按钮以清空所有滑块。
        二、说明
            1. 计算完成后，<span class="material-icons">rocket_launch</span>按钮右侧的数字分别代表当前步数和总步数。
            2. 方阵第二行中的横向滑块到达最右一格视为游戏胜利。
            3. 仅支持1*2、1*3、2*1、3*1四种大小的滑块。
        三、补充
            <b>1. 本程序未适配FireFox浏览器以及移动端。</b>
            2. 本程序仅供学习交流，严禁用于商业用途。转载请注明出处。
            3. 作者B站：https://space.bilibili.com/272878850
            4. 作者Github：https://github.com/B-52405</pre>
            <button class="hoverable" @click="show_illustration(false)">确定</button>
        </div>
    </div>
    <script type="module" src="./scripts/pond.mjs"></script>
</body>

</html>