body {
    margin: 0;
    visibility: hidden;
    background-color: #f0f0f2;
    background: url(../static/background.jpg);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0));
}

.table_container {
    border: black 4px solid;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    overflow: hidden;
}

table {
    height: min-content;
    width: min-content;
    border-collapse: collapse;
}

.cell_td {
    padding: 0;
}

.cell_div {
    padding: 0;
    margin: 0;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: black 1px solid;
    background-color: white;
}

.bar_div {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
}

.button_group {
    display: flex;
    align-items: center;
}

.step_prompt {
    width: 80px;
    height: min-content;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
}

button {
    width: 75px;
    height: 50px;
    text-align: center;
    margin: 30px 3px 30px 3px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    user-select: none;
}

button:active {
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.3);
}

p {
    user-select: none;
}

.hoverable:hover {
    background-color: ghostwhite
}

.illustration {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    border: black 2px solid;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
}

pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
}